a:hover
{
    color: rgb(50, 38, 102) !important;
}

a.dropdown-item:hover 
{
    background-color: inherit;
}

body 
{
    padding-top: 50px;
}

h1, h2, h3, h4 
{
    color: white;
}

#signup, #signin 
{
    padding-top: 10%;
    height: 100vh;
}

